<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hotelmanagementsystem_mobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.facilities_booking.SummaryBookDetails"
            android:label="@string/booking_summary"/>
        <activity android:name=".test" />
        <activity android:name=".activities.BaseActivity" />
        <activity android:name=".activities.facilities_booking.BookingAvailable" />
        <activity
            android:name=".activities.facilities_booking.SportsCat"
            android:parentActivityName=".activities.facilities_booking.Categories" />
        <activity
            android:name=".activities.Account"
            android:theme="@style/homeTheme" />
        <activity
            android:name=".activities.Signup"
            android:theme="@style/signupTheme" />
        <activity
            android:name=".activities.Login"
            android:theme="@style/loginTheme" />
        <activity
            android:name=".activities.EVouchers"
            android:parentActivityName=".activities.Homepage" />
        <activity
            android:name=".activities.facilities_booking.Categories"
            android:label="@string/bar_categories"
            android:parentActivityName=".activities.Homepage" />
        <activity android:name=".activities.CheckOut" />
        <activity
            android:name=".activities.CheckInActivity"
            android:label="@string/check_in_title"
            android:parentActivityName=".activities.Homepage" />
        <activity
            android:name=".activities.Homepage"
            android:theme="@style/homeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>