<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hotelmanagementsystem_mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Admin -->
        <activity
            android:name=".activities.AdminViewTimeSlots"
            android:parentActivityName=".activities.AdminFacilitiesBooking" />
        <activity
            android:name=".activities.AdminFacilitiesBooking"
            android:label="@string/facilities_booking"
            android:parentActivityName=".activities.AdminHomepage" />
        <activity
            android:name=".activities.admin.AdminCheckInDetailsActivity"
            android:label="@string/admin_check_in_details_title"
            android:parentActivityName=".activities.AdminHomepage" />
        <activity android:name=".activities.admin.AdminCheckOutDetailsActivity"
            android:label="@string/admin_check_out_details_title"
            android:parentActivityName=".activities.AdminHomepage"/>
        <!-- Customer -->
        <activity
            android:name=".activities.CheckOutHistoryActivity"
            android:label="@string/checkout_history"
            android:parentActivityName=".activities.Account" />
        <activity
            android:name=".activities.user_profile.ForgotPassword"
            android:label="Reset Password"
            android:parentActivityName=".activities.Login" />
        <activity
            android:name=".activities.AdminHomepage"
            android:theme="@style/homeTheme" />
        <activity android:name=".activities.user_profile.ChangeUserPassword" />
        <activity android:name=".activities.user_profile.EditUserProfile" />
        <activity
            android:name=".activities.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.facilities_booking.SummaryBookDetails"
            android:label="@string/booking_summary"
            android:parentActivityName=".activities.facilities_booking.BookingAvailable" />
        <activity android:name=".activities.BaseActivity" />
        <activity android:name=".activities.facilities_booking.BookingAvailable" />
        <activity
            android:name=".activities.facilities_booking.SportsCat"
            android:parentActivityName=".activities.facilities_booking.Categories" />
        <activity
            android:name=".activities.facilities_booking.BookingHistory"
            android:label="Booking History"
            android:parentActivityName=".activities.Account" />
        <activity
            android:name=".activities.Account"
            android:theme="@style/homeTheme" />
        <activity
            android:name=".activities.Signup"
            android:theme="@style/signupTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Login"
            android:theme="@style/loginTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.EVouchers"
            android:parentActivityName=".activities.Homepage"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.facilities_booking.Categories"
            android:label="@string/bar_categories"
            android:parentActivityName=".activities.Homepage" />
        <activity
            android:name=".activities.CheckOutActivity"
            android:label="@string/check_out_title"
            android:parentActivityName=".activities.Homepage"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.CheckInActivity"
            android:label="@string/recently_check_in_title"
            android:parentActivityName=".activities.Homepage"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize"
            tools:replace="screenOrientation" />
        <activity
            android:name=".activities.Homepage"
            android:theme="@style/homeTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>